.root {
    -fx-background-color: #383838;
    -fx-font-size: 10pt;
}

.label {
    -fx-text-fill: aliceblue;
}

.button-signup {
    -fx-background-color: aqua;
}

#user-label {
    -fx-font-weight: bold;
}