.table-view {
    -fx-focus-color: transparent;
}

.table-track {
    -fx-alignment: CENTER;
}

.table-title {
}

.table-artist {
    -fx-alignment: CENTER;
}

.table-album {
    -fx-alignment: CENTER;
}

.table-composer {
    -fx-alignment: CENTER;
}

.table-genre {
    -fx-alignment: CENTER;
}

.table-duration {
    -fx-alignment: CENTER;
}

.table-bitrate {
    -fx-alignment: CENTER;
}

.search-bar {
    -fx-background-image:url('../images/lookup-icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}